@model IList<ShoeSizeView>

@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome to Shoe Lovers Club</h1>
</div>

@using (Html.BeginForm("Update", "Home", FormMethod.Post))
{
    {
        for (var index = 0; index < Model.Count(); index++)
        {
            <div>
                @Html.CheckBoxFor(m => m[index].IsSelected, Model[index].IsSelected)
                @Html.LabelFor(m => m[index].Size, Model[index].Size)
                @Html.HiddenFor(m => m[index].Size, Model[index].Size)
                @Html.HiddenFor(m => m[index].Id, Model[index].Id)
            </div>
        }

        <hr />
        <button type="submit" id="Save">Save Selection</button>
    }
}
